{% extends "users/base2.html" %}

{% block title %}
    Sign Up
{% endblock title %}


{% block content %}
    <div class="form-content">
        <span class="icon-middle"></span>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form.username }}     
            </div>
            <div class="form-group">
                {{ form.email }}     
            </div>
            <div class="form-group">
                {{ form.password1 }}     
            </div>
            <div class="form-group">
                {{ form.password2 }}     
            <button class="form-login-btn" type="submit">Sign Up</button>
            <div class="w-100">
                <a href="{% url 'login' %}" class="font-login">Already have an Account? Log in here</a>
                {% if messages %}
                    {% for message in messages %}
                        <div class='alert alert-{{ message.tags }}'>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
        </form>
    </div>

{% endblock content %}