{% extends "users/base2.html" %}

{% block title %}
    Sign Up
{% endblock title %}


{% block content %}

    <span class="icon-middle"></span>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <!-- input autocomplete="off" class="form-login" name="username" placeholder="Username" type="text"!-->
            {{ form.username }}     
        </div>
        <div class="form-group">
            <!-- input class="form-login" name="password" placeholder="Password" type="password"!-->
            {{ form.email }}     
        </div>
        <div class="form-group">
            <!-- input class="form-login" name="confirmation" placeholder="Password" type="password"!-->
            {{ form.password1 }}     
        </div>
        <div class="form-group">
            <!-- input class="form-login" name="confirmation" placeholder="Password" type="password"!-->
            {{ form.password2 }}     
        <button class="form-login-btn" type="submit">Sign Up</button>
        <div class="form-group">
            {{ form.errors }}
        </div>
    </form>

{% endblock content %}