.card {
    max-width: 320px;
    min-width: 320px;
    margin-left: 82px; 
    width: 25%;
    height: 341px;
    float: left;
    background-color: white;
    border-style: none;
    transition: 0.5s ease-in-out;
}   

#cards {
    background-color: white;
}

.card-title {
    font-size: 16px;
    font-style: italic;
    font-weight: 200;
    letter-spacing: calc(1rem * 0.001 * 89);
    color: #818181;
    text-align: center;
    padding-top: 23px;
    padding-bottom: 23px;
}

.card-body {
    background-color: white;
    border: 2px solid #818181;
    border-radius: 39px;
    transition: .4s ease-out;
}

.card-text {
    font-size: 13.7px;
    font-weight: 200;
    letter-spacing: calc(1rem * 0.001 * 89);
    color: #818181;
    text-align: center;
    margin-top: 26px;
}

.card-logo {
    width: 133px;
    height: 133px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card a {
    text-decoration: none;
}

.card-body:hover {
    box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.3);
    transform:scale(1.05, 1.05)
}