.library-content {
    width: 100%;
    margin-left: 20px;
    font-size: 18px;
}

.form-library-btn {
    font-size: 18px;
    display: flex; 
    float: left;
    margin-bottom: 20px;
  }

  .form-more-btn {
    font-size: 18px;
    display: flex; 
    float: left;
  }

  .form-search {
    display: flex; 
    float: left;
    margin-right: 10px;
  }

  .result {
    margin-bottom: 10px;
    border-bottom: solid 1px black;
  }