body {
    font-family: Nunito;
}

#sidenav {
    height: 100%;
    width: 280px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    border-right: 2px solid #818181;
    overflow-x: hidden;
}

#window {
    float: left;
}

#topbar {
    height: 111px;
    width: 100%;
    background-color: whitesmoke;
    border-bottom: 2px solid #818181;
}

#content {
    font-size: 28px; /* Increased text to enable scrolling */
    background-color: white;
}

#menu-side {
    margin-top: 120px;
}

#menu-side a {
    padding-left: 38px;
    padding-bottom: 38px;
    text-decoration: none;
    color: #818181;
    display: block;
}

#menu-side a:hover {
    color: black;
}

#bottom-side {
    position: absolute;
    bottom: 4%;
}

#username-side {
    position: absolute;
    left: 38px;
}

#logo-title {
    text-align: center;
    display: block;
    margin-top: 25px;
}

#head-side {
    width: 100%;
}

.font-menu {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: calc(1rem * 0.001 * 100);
}
  
.font-logo {
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: calc(1rem * 0.001 * 255);
}

.icon {
    background: url('logo.png');
    height: 64px;
    width: 64px;
    display: block;
    margin: auto;
    margin-top: 45px;
}

.icon-small {
    background: url('small-logo.png');
    height: 36px;
    width: 36px;
    display: inline;
}

.hr {
    width: 207px;
    height: 2px;
    margin: auto;
    background-color: #818181;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 12px;}
}