body {
    margin: 0;
    font-family: Nunito;
}

#sidenav {
    height: 100%;
    width: 280px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    border-right: 2px solid #818181;
    overflow-x: hidden;
}
#window {
    margin-left: 280px;
}

#topbar {
    height: 111px;
    width: 100%;
    background-color: whitesmoke;
    border-bottom: 2px solid #818181;
    position: relative;
}

#content {
    font-size: 28px; /* Increased text to enable scrolling */
    background-color: white;
}

#menu-side {
    margin-top: 120px;
}

#menu-side a {
    margin-left: 38px;
    margin-bottom: 38px;
    text-decoration: none;
    color: #818181;
    display: block;
}

#menu-side a:hover {
    color: black;
}

#head-side a {
    text-decoration: none;
    color: black;
}

#head-side a:hover {
    color: #818181;
}

#bottom-side {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
}

#logo-title {
    display: block;
    text-align: center;
    margin-top: 25px;
}

#head-side {
    width: 100%;
    margin-top: 45px;
}

.username-side {
    margin-left: 38px;
}

.font-menu {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: calc(1rem * 0.001 * 100);
}
  
.font-logo {
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: calc(1rem * 0.001 * 255);
}

.icon {
    background: url('logo.png');
    height: 64px;
    width: 64px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icon-small {
    position: absolute;
    bottom: 0;
    right: 43px;
}

.l-break {
    width: 207px;
    height: 2px;
    margin-left: auto;
    margin-right:auto;
    background-color: #818181;
    margin-bottom: 15px;
}
