html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: Nunito;
    background-image: url("background_login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    min-height: 100vh;
    padding-bottom: 43px ;
}

.font-menu {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: calc(1rem * 0.001 * 100);
    color: black;
    margin-left: 35px;
}
  
.font-logo {
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: calc(1rem * 0.001 * 255);
    color: black;
    margin-left: 35px;
}

.logo {
    display: inline-block;
    position: absolute;
    left: 100px;
    top: 35px;
}

.menu {
    position: absolute;
    display: inline-block;
    top: 35px;
    right: 3%;
}

#top-bar a {
    text-decoration: none;
}

#top-bar a:hover {
    color: #818181;
}

#top-bar {
    width: 100%;
    min-height: 62px;
}

.form-login {
    background-color: transparent;
    height: 58px;
    width: 368px;
    border: 1px solid black;
    border-radius: 11px;
    font-size: 21px;
    font-style: normal;
    color: black;
    margin-top: 37px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.3);
}

.form-login-btn {
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-style: normal;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.icon-middle {
    background: url('logo.png');
    height: 64px;
    width: 64px;
    display: flex;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.font-login {
    font-size: 18px;
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
}

#window a:hover {
    color: #818181;
}

input:focus {
    outline-style: none;
  }

button:hover {
    color: #818181;
}

::placeholder {
    color: black;
}

#about {
    padding: 40px 50px 50px 50px;
    font-size: 16px;
}

#container {
    border: 1px solid black;
    border-radius: 11px;
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.3);
    background-color: rgba(245, 245, 245, 0.3);
    height: auto;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 10vh;
    text-align: center;
}

#header {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: calc(1rem * 0.001 * 300);
    margin-top: 30px;
}

footer {
    position: absolute;
    font-size: 18px;
    color: black;
    bottom: 0;
    right: 43px;
    height: 43px;
}

.footer-icon {
    height: 30px;
    width: 30px;
    transform: translateY(-10px);
    margin-right: 15px;
}

