{% extends "users/base2.html" %}


{% block title %}
    About
{% endblock title %}



{% block content %}
    <div id="container" class="tc">
        <div id="header">
            <p>ABOUT READABLE</p>
        </div>
        <div id="about">
                    
                <p>This is my own very first web application. Created as a final project of the very famous programming course "CS50"
                    Big thanks for the crew and all the CS50 stuff for providing such a great course. It's a excellent introduction to computer science.
                </p>
            </div>

        </div>
    </div>
{% endblock content %}