{% extends "users/base2.html" %}


{% block title %}
    About
{% endblock title %}



{% block content %}
    <div id="container" class="tc">
        <div id="header">
            <p>ABOUT READABLE</p>
        </div>
        <div id="about">  
            <p>This is my own very first web application created as a part of famous programming course <a target="_blank" id="cs50link" href="https://cs50.harvard.edu/x/2021/">"CS50"</a>.
                Thanks to Google Books Api, the application allows you to search for books that interest you.
                The application also allows you to manage your book collections.
                Big thanks to CS50 stuff for their effort and dedication in preparing such an excellent course!
            </p>
        </div>
    </div>
{% endblock content %}