{% extends "main/base.html" %}
{% load static %}
{% block title %}
    Library
{% endblock title %}


{% block content %}
    <div class="library-content">
        <form action="" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Search for the books</legend>
                <input type="text"autocomplete="off" class="form-search" name="search"></input>
                <button class="form-library-btn" type="submit">Search</button><div style="clear:both"></div>
            </fieldset>
        </form>
        <div class="results">
            {% for r in result %}            
                <div class="result">
                    <img src="{{ r.img }}" class="thumbnail" width="128" height="186">
                    <strong >{{ r.title }}</strong>
                    <p>
                    {% for author in r.authors %}
                        {{ author }}<br> 
                    {% endfor %}
                    </p>
                    <button class="form-more-btn">Show more information on Google Books Website</button>
                    <p> {{ r.description }} </p>
                </div>
            {% endfor %}            
        </div>
    </div>

{% endblock content %}