{% extends "main/base.html" %}
{% load static %}
{% block title %}
    Library
{% endblock title %}


{% block content %}
    <div class="library-content">
        <div class="form-library">
            {% if messages %}
                {% for message in messages %}
                    <div class='alert alert-{{ message.tags }}'>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <form action="" method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Search for the books
                        <div style="display: inline; margin-left: 20px;">
                            <a href="https://www.google.com">
                                <img src="https://books.google.com/googlebooks/images/poweredby.png" border="0" style="border: 0">
                            </a>
                        </div>                                     
                    </legend>
                    <input type="text"autocomplete="off" class="form-search" name="search"></input>
                    <button class="form-library-btn" type="submit">Search</button><div style="clear:both"></div>
                </fieldset>
            </form>
        </div>
        <div class="results">
            {% for r, form in results %}            
                <div class="result">
                    <div class="left">
                        <img src="{{ r.cover_url }}" class="thumbnail">
                        <a href="{{ r.info_url }}" target="_blank">     
                            <button class="form-more-btn">More Info</button>
                        </a>
                        <form class="option-list" name="option" action="{% url 'main-create-status' %}" method="POST" >
                            {% csrf_token %}
                            {{ form.list_type }}
                            {{ form.title }}
                            {{ form.google_id }}
                            {{ form.authors }}
                            {{ form.description }}
                            {{ form.cover_url }}
                            {{ form.info_url }}
                            <button type="submit" name="list-type" class="form-more-btn">Add book to</button>
                        </form> 
                    </div>
                    <div class="middle">
                        <strong class="book-title">{{ r.title }}</strong>
                        <strong class="book-title">{{ r.subtitle }}</strong>                        
                        <p>{% for author in r.authors %}
                                {{ author }}<br> 
                            {% endfor %}
                        </p>
                        <br><p>{{ r.categories }}</p>
                    </div>
                    <div class="right">
                        <p> {{ r.description }} </p>
                    </div>
                    <div style="clear:both"></div>
                </div>
            {% endfor %}   
        </div>
    </div>

{% endblock content %}